POSTGRES_DB=release_monitor
POSTGRES_USER=release_monitor
POSTGRES_PASSWORD=local_development_only
APP_PORT=8080
GITHUB_TOKEN=  # gitleaks:allow -- optional value is intentionally empty
SCHEDULE_ENABLED=true
SCHEDULE_CRON=0 0 */6 * * *
